// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
//@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

// Global styles start
:root {
  --flow-space: #{get-size('600')};
}

body {
  background: get-color('light');
  color: get-color('dark-shade');
  line-height: 1.5;
  font-size: get-size('500');
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('quinary');
}

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('light');
}

// Scrollbar styles
::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid get-color('dark-glare');
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: get-color('dark');
  border-radius: 0.25rem;
}

// Import blocks

// Import utilities
@import 'utilities/auto-grid';
@import 'utilities/flow';
@import 'utilities/radius';
@import 'utilities/site-wrap';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
