// First up: config and functions
@import 'config';

// Set gorko to output no CSS for this file
$outputTokenCSS: false;

.donation-meter {
  margin: 0 auto;
  margin-top: 2rem;
  width: 100px;
  .glass {
    background: #e5e5e5;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 300px;
    margin: -5px 35px 10px;
    padding: 5px;
    position: relative;
    width: 30px;
  }
  .amount {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    width: 20px;
    position: absolute;
     bottom: -5px;
  }
  strong {margin-top: 1rem;}
  .goal {
    position: relative;
    right: 18px;
    top: 18px;
  }
  .total {
    position: absolute;
    right: 35px;
  }
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  display: block;
  height: 60px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
    top: -20px;
    right: 15px;
  width: 60px;
  .red-circle {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    height: 50px;
    width: 50px;
  }
  .filler {
    background: #f34e54;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
      top: -65px;
      right: -15px;
    z-index: 30;
  }
}
